[Unit]
Description=Manage container life
After=network.target

[Service]
User=root # or another user which can access the docker socket
Group=root
WorkingDirectory=/opt/wakontainer # path to wakontainer source

# You can customize deployment using env vars
# Environment="WAKONTAINER_BIND_ADDRESS=127.0.0.1" -- default 127.0.0.1
# Environment="WAKONTAINER_PORT=8080" -- default 8080
# Environment="WAKONTAINER_NUMBER_OF_WORKERS=3" -- default 3

# Here I used a venv, it may not be your case so change accordingly
ExecStart=/opt/wakontainer/venv/bin/python3 wsgi.py

[Install]
WantedBy=multi-user.target
